In [1]:
from pathlib import Path
from queries import create_db

db = 'Titles'
file = 'netflix_titles.csv'
table = 'titles'
create_db(db, file, table)

OperationalError: no such table: titles

In [2]:
import sqlite3
import pathlib

base_path = pathlib.Path(r'C:\Users\tamba\OneDrive\Documents\Repos\DAB111_project_Group_2\main\data')
db_name = "Titles"
db_path = base_path/db_name
print(db_path)

def data():
    con = sqlite3.connect(db_path)
    cursor = con.cursor()
    results = cursor.execute("SELECT * FROM titles").fetchall()
    con.close()
    return results

data()

C:\Users\tamba\OneDrive\Documents\Repos\DAB111_project_Group_2\main\data\Titles

OperationalError: no such table: titles

In [1]:
# Delete db from functions folder
from pathlib import Path

db_file = Path(r'C:\Users\tamba\OneDrive\Documents\Repos\DAB111_project_Group_2\main\functions\Titles') # create a Path object
db_file.unlink(missing_ok=True)